body {
  background: #fbfbfb;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
}

.cadastro {
  margin-top: 76px;
  margin-bottom: 200px;
}
.cadastro h1 {
  color: #095aa5;
  font-size: 30px;
  line-height: 49px;
}

.cadastro a {
  color: #095aa5;
  text-decoration: underline;
}

.cadastro a:hover {
  color: #ff72ad;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
