* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #33323d;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.pink-title {
  color: #ff72ad;
}

.menu__nav {
  background: #ffffff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  color: #095aa5;

  max-width: 85%;
  padding: 20px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
}

.menu__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__navigation img {
  margin-top: -1px;
}

.menu__navigation ul {
  display: flex;
  padding: 5px;
}

.menu__navigation a {
  color: #095aa5;

  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
}

.menu__navigation a:hover,
a.active {
  color: #ff72ad;
}

.entrar {
  all: unset;
  cursor: pointer;

  width: 95px;
  height: 40px;

  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  text-align: center;

  color: #ffffff;

  background-color: #ff72ad;
  border-radius: 15px;
  margin-left: 30px;
}

.btn--rosa:hover {
  background: #ff4693;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 161px;
  background-color: #63b4ff;

  padding: 13px 0;
}

.footer,
.footer a {
  color: #ffffff;
}

.social__footer {
  margin-left: 40px;
}

.social__footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.social__footer li {
  padding: 10px;
}

.social__footer a:hover,
a.active {
  color: #ff72ad;
}
